<link rel="stylesheet" href="../assets/navbar2.css">
<nav class="navbar navbar-expand-lg .bg-transparent">
    <a class="navbar-brand" href="/">SneakerCity</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/sneakers">Home <span class="sr-only"></span></a>
        </li>
       
        
  
          
       
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sneakers
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
  
  
            <div class="containers" id="add" style="right: 100px;">
              <div class="row">
                <div class="col-md-4">
                 <span class="text-uppercase text-white">Shoe Brands</span>
                  <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" href="/sneakers/Nike">Nike</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/sneakers/Jordan">Jordan</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/sneakers/Other">Other</a>
                  </li>
                </ul>
                </div>
                <!-- /.col-md-4  -->
                
                <!-- /.col-md-4  -->
               
                <!-- /.col-md-4  -->
              </div>
            </div>
            <!--  /.container  -->
  
  
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sneakers/new">Add Shoes</a>
          </li>
      </ul>
      <div class="navbar-nav ml-auto" id="authorization">
        <% if(!currentUser) {%>
          <a class="nav-link" href="/sneakers/login">Login</a>
          <a class="nav-link" href="/sneakers/registration">Register</a>
        <% } else { %>
          <a class="nav-link" href="/sneakers"><%= currentUser.username  %> </a>
          <a class="nav-link" href="/sneakers/logout">Logout</a>
        <% } %>  
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  
  
  </nav>

