body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/sneakerheadsfeature.jpeg');
    color: rgb(10, 10, 10);
    display: flex;
    justify-content: center;
    align-items: center;
  height: 100%;

     ;
}

h1 {
    color: rgb(255, 234, 210);
    font-family: 'Smooch', cursive;
    font-size: 100px; 
   
    
    
    line-height: 26.4px;
    
    
}
p {
  font-family: 'Parisienne', cursive;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.center {
    
  line-height: 20px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  }
.center p {
  display: inline;
  line-height: 350%;
  vertical-align: top;
  
  }

  #box {
    display: block;
 

   margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  .gradient-border {
    --borderWidth: 50px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
  }
  .gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 600% 600%;
  }
  
  
  @keyframes animatedgradient {
    0% {
      background-position: 0% 70%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  #homebtn {
    position: static;
    margin-top: 350%;
  }