<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>Document</title>
    
    <link href="../assets/registration.css" rel="stylesheet">

<body>

  <div class="signup-form">
	<form action="login" method="POST" class="validated-form" novalidate>
		<h2>Login</h2>
		
		<hr>
        <div class="form-group">
			<label class="form-label" for="username">Username</label>
                  <input class="form-control" type="text" id="username" name="username" autofocus required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
        </div>
        
	
		<div class="form-group">
			<label class="form-label" for="password">Password</label>
			<input class="form-control" type="password" id="password" name="password" required>
			<div class="valid-feedback">
			  Looks good!
			</div>
        </div>
        
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Login</button>
        </div>
    </form>
	<div class="text-center">Already have an account? <a href="#">Login here</a></div>
</div>

</body>
</html>
<script>
	(function () {
	  'use strict'

 

	  // Fetch all the forms we want to apply custom Bootstrap validation styles to
	  const forms = document.querySelectorAll('.validated-form')

	  // Loop over them and prevent submission
	  Array.from(forms)
		.forEach(function (form) {
		  form.addEventListener('submit', function (event) {
			if (!form.checkValidity()) {
			  event.preventDefault()
			  event.stopPropagation()
			}

			form.classList.add('was-validated')
		  }, false)
		})
	})()
	
  </script>